body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 300px; /* Atur lebar div sesuai kebutuhan */
    height: 200px; /* Atur tinggi div sesuai kebutuhan */
    background-color: darkblue;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Memposisikan div di tengah layar dengan positioning dan transform */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label,
h1 {
    color: white;
    font-family: sans-serif;
}

.username,
.password {
    margin-bottom: 20px;
    border-radius: 5px;
}

.required:after {
    content: '*';
    color: red;
}
